/* line 5, E:/Program Files/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/Program Files/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/Program Files/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/Program Files/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/Program Files/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/Program Files/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/Program Files/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/Program Files/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/Program Files/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-r8gkn7");
  src: url("../fonts/icomoon.eot?#iefix-r8gkn7") format("embedded-opentype"), url("../fonts/icomoon.woff?-r8gkn7") format("woff"), url("../fonts/icomoon.ttf?-r8gkn7") format("truetype"), url("../fonts/icomoon.svg?-r8gkn7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../sass/icomoon.scss */
.icon-home:before {
  content: "\e900";
}

/* line 39, ../sass/icomoon.scss */
.icon-pencil:before {
  content: "\e905";
}

/* line 43, ../sass/icomoon.scss */
.icon-file-text:before {
  content: "\e922";
}

/* line 47, ../sass/icomoon.scss */
.icon-loop2:before {
  content: "\ea2e";
}

/* line 51, ../sass/icomoon.scss */
.icon-checkmark2:before {
  content: "\ea11";
}

/* line 55, ../sass/icomoon.scss */
.icon-user:before {
  content: "\e971";
}

/* line 59, ../sass/icomoon.scss */
.icon-users:before {
  content: "\e972";
}

/* line 63, ../sass/icomoon.scss */
.icon-star-empty:before {
  content: "\e9d7";
}

/* line 67, ../sass/icomoon.scss */
.icon-price-tag:before {
  content: "\e935";
}

/* line 71, ../sass/icomoon.scss */
.icon-github:before {
  content: "\eab1";
}

/* line 75, ../sass/icomoon.scss */
.icon-floppy-disk:before {
  content: "\e962";
}

/* line 79, ../sass/icomoon.scss */
.icon-paste:before {
  content: "\e92d";
}

/* line 83, ../sass/icomoon.scss */
.icon-bubble2:before {
  content: "\e96e";
}

/* line 87, ../sass/icomoon.scss */
.icon-heart:before {
  content: "\e9da";
}

/* line 91, ../sass/icomoon.scss */
.icon-info:before {
  content: "\ea0c";
}

/* line 95, ../sass/icomoon.scss */
.icon-codepen:before {
  content: "\eae4";
}

/* line 99, ../sass/icomoon.scss */
.icon-facebook:before {
  content: "\ea8c";
}

/* line 103, ../sass/icomoon.scss */
.icon-twitter:before {
  content: "\ea91";
}

/* line 14, ../sass/style.scss */
body {
  font-family: sans-serif;
  font-size: 100%;
  text-align: center;
  background-color: #e5e8e7;
}

/* line 20, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/style.scss */
a {
  text-decoration: none;
  color: #566373;
}

/* line 32, ../sass/style.scss */
#content {
  width: 90%;
  margin: 0 auto;
  background-color: #f3f3f3;
}

/* line 38, ../sass/style.scss */
.hero {
  max-width: 100em;
  margin: 0 auto;
  height: 40em;
  background: url("../images/find-an-agent-hero.png");
  background-size: cover;
  color: white;
}
/* line 46, ../sass/style.scss */
.hero header {
  padding: 2em 0 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 48, ../sass/style.scss */
.hero header img {
  width: 8em;
  height: 2em;
  float: left;
  margin: 0 0 0 10%;
}
/* line 54, ../sass/style.scss */
.hero header ul {
  float: right;
  padding: 0 10% 0 0;
}
/* line 57, ../sass/style.scss */
.hero header ul li {
  float: left;
  margin: 1em 0.5em;
  padding: 0.5em 0.5em;
  border: 1px solid transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 64, ../sass/style.scss */
.hero header ul li:last-child {
  border: 1px solid white;
}
/* line 71, ../sass/style.scss */
.hero h1 {
  font-size: 2em;
  padding: 6em 0 0.5em 0;
  font-weight: bold;
}
/* line 76, ../sass/style.scss */
.hero h2 {
  font-size: 1.2em;
  color: #D9DADA;
}

/* line 82, ../sass/style.scss */
form {
  padding: 3em 0 4em 0;
}
/* line 85, ../sass/style.scss */
form input[type="text"] {
  padding: 1em;
  border: 0;
  width: 30em;
  border-radius: 2px 0 0 2px;
  background: #efefef;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 93, ../sass/style.scss */
form input[type="button"] {
  color: white;
  padding: 1em;
  border: 0;
  width: 8em;
  border-radius: 0 2px 2px 0;
  background-color: lightgreen;
  text-transform: uppercase;
}

/* line 104, ../sass/style.scss */
.numbers {
  width: 80%;
  margin: 0 auto;
}
/* line 107, ../sass/style.scss */
.numbers ul {
  position: relative;
  top: -4em;
  background-color: #f3f3f3;
  overflow: hidden;
  *zoom: 1;
}
/* line 112, ../sass/style.scss */
.numbers ul li {
  float: left;
  width: 25%;
  border-top: 1px solid #D9DADA;
  border-bottom: 1px solid #D9DADA;
  border-left: 1px solid #D9DADA;
}
/* line 120, ../sass/style.scss */
.numbers ul:last-child {
  border-right: 1px solid #D9DADA;
}
/* line 124, ../sass/style.scss */
.numbers ul h2 {
  font-size: 2em;
  padding: 1em 0;
}
/* line 128, ../sass/style.scss */
.numbers ul h3 {
  padding: 0 0 2em 0;
}

/* line 136, ../sass/style.scss */
.how-it-works {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 139, ../sass/style.scss */
.how-it-works h2 {
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2em 0  1em 0;
}
/* line 145, ../sass/style.scss */
.how-it-works h2:after {
  display: block;
  content: "";
  background-color: #dadada;
  width: 2em;
  height: 0.1em;
  margin: 0.4em auto;
}
/* line 156, ../sass/style.scss */
.how-it-works ul li {
  float: left;
  width: 33.33%;
}
/* line 160, ../sass/style.scss */
.how-it-works ul li:before {
  display: block;
  content: "";
  background-color: #dadada;
  height: 1px;
  position: relative;
  top: 4em;
  left: 50%;
  margin: 0 2em;
}
/* line 171, ../sass/style.scss */
.how-it-works ul li:last-child:before {
  display: none;
}
/* line 175, ../sass/style.scss */
.how-it-works ul li .detail .number {
  font-size: 2em;
  color: #b3b6be;
  border: 1px solid #dadada;
  width: 2em;
  height: 2em;
  display: block;
  margin: 1em auto;
  padding: 0.4em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 187, ../sass/style.scss */
.how-it-works ul li .detail i {
  font-size: 3.6em;
}
/* line 190, ../sass/style.scss */
.how-it-works ul li .detail .icon-home {
  color: #ECA95A;
}
/* line 193, ../sass/style.scss */
.how-it-works ul li .detail .icon-pencil {
  color: #AC9CD2;
}
/* line 196, ../sass/style.scss */
.how-it-works ul li .detail .icon-users {
  color: #4D99CB;
}
/* line 200, ../sass/style.scss */
.how-it-works ul li .detail h3 {
  font-size: 1.6em;
  color: #000;
  font-weight: bold;
  margin: 1.5em 0 0.6em 0;
}
/* line 207, ../sass/style.scss */
.how-it-works ul li .detail p {
  color: #6e6e6e;
  font-size: 1.2em;
  margin: 0 1.7em;
}

/* line 220, ../sass/style.scss */
.why-choose-us:before, .feedback:before {
  display: block;
  content: "";
  background-color: #dadada;
  width: 100%;
  height: 1px;
  margin: 6em auto;
}

/* line 229, ../sass/style.scss */
.why-choose-us {
  width: 100%;
  margin: 0 auto;
}
/* line 232, ../sass/style.scss */
.why-choose-us h2 {
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 2em 0;
}
/* line 238, ../sass/style.scss */
.why-choose-us h2:after {
  display: block;
  content: "";
  background-color: #dadada;
  width: 2em;
  height: 0.1em;
  margin: 0.4em auto;
}
/* line 247, ../sass/style.scss */
.why-choose-us ul {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  *zoom: 1;
}
/* line 252, ../sass/style.scss */
.why-choose-us ul li {
  width: 50%;
  float: left;
  margin: 0 0 2em 0;
  padding: 0 2em 0 4em;
}
/* line 258, ../sass/style.scss */
.why-choose-us ul li i {
  font-size: 2em;
  float: left;
  width: 15%;
}
/* line 263, ../sass/style.scss */
.why-choose-us ul li .icon-checkmark2 {
  color: #64c095;
}
/* line 266, ../sass/style.scss */
.why-choose-us ul li .icon-price-tag {
  color: #05b2ed;
}
/* line 269, ../sass/style.scss */
.why-choose-us ul li .icon-loop2 {
  color: #eea859;
}
/* line 272, ../sass/style.scss */
.why-choose-us ul li .icon-user {
  color: #ac79c2;
}
/* line 275, ../sass/style.scss */
.why-choose-us ul li .icon-file-text {
  color: #f36d7c;
}
/* line 278, ../sass/style.scss */
.why-choose-us ul li .icon-heart {
  color: #ed7f5a;
}
/* line 282, ../sass/style.scss */
.why-choose-us ul li div {
  float: left;
  width: 70%;
  overflow: hidden;
  *zoom: 1;
}
/* line 286, ../sass/style.scss */
.why-choose-us ul li div h3 {
  font-size: 1.6em;
  color: #000;
  font-weight: bold;
  margin: 0 0 0.6em 0;
}
/* line 292, ../sass/style.scss */
.why-choose-us ul li div p {
  font-size: 1.2em;
  color: #6e6e6e;
}

/* line 304, ../sass/style.scss */
.feedback {
  width: 100%;
  margin: 0 auto;
  color: #60677b;
}
/* line 308, ../sass/style.scss */
.feedback .title {
  width: 24em;
  margin: 0 auto;
  padding: 0 0 3em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 312, ../sass/style.scss */
.feedback .title div {
  width: 12em;
  height: 2em;
  padding: 1em 0 2em 0;
  float: left;
  border-top: 1px solid #b2b1b8;
  border-bottom: 1px solid #b2b1b8;
}
/* line 320, ../sass/style.scss */
.feedback .title .testimonials {
  background-color: #60677b;
  border-radius: 0.3em 0 0 0.3em;
  color: #fff;
}
/* line 325, ../sass/style.scss */
.feedback .title .recent-feedbacks {
  border-right: 1px solid #b2b1b8;
  border-radius: 0 0.3em 0.3em 0;
  color: #63646e;
}
/* line 332, ../sass/style.scss */
.feedback p {
  width: 70%;
  margin: 1em auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #90909b;
}
/* line 339, ../sass/style.scss */
.feedback p:after {
  display: block;
  content: "";
  width: 2em;
  height: 1px;
  background-color: #dadada;
  margin: 1em auto;
}
/* line 348, ../sass/style.scss */
.feedback span {
  display: block;
  line-height: 1.5em;
}
/* line 352, ../sass/style.scss */
.feedback .name {
  font-size: 1.53m;
  font-weight: bold;
}
/* line 356, ../sass/style.scss */
.feedback .portrait {
  margin: 4em auto;
}
/* line 358, ../sass/style.scss */
.feedback .portrait img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  margin: 0 1em;
  padding: 0.4em;
  border: 1px solid #dadada;
  background-color: #fff;
  opacity: 0.2;
}
/* line 368, ../sass/style.scss */
.feedback .portrait .lock {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 373, ../sass/style.scss */
.find-an-agent {
  background: url("../images/find-an-agent.png");
  background-size: cover;
}
/* line 376, ../sass/style.scss */
.find-an-agent span {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 381, ../sass/style.scss */
.find-an-agent input[type="text"] {
  width: 40em;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 387, ../sass/style.scss */
footer {
  width: 80%;
  margin: 0 auto;
  height: 3.5em;
  padding: 1.5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 394, ../sass/style.scss */
footer .shares {
  float: right;
}
/* line 397, ../sass/style.scss */
footer li {
  float: left;
  padding: 0 10px;
}
/* line 401, ../sass/style.scss */
footer .shares a {
  font-size: 1.3em;
}
/* line 404, ../sass/style.scss */
footer .icon-twitter {
  color: #469cd0;
}
/* line 407, ../sass/style.scss */
footer .icon-facebook {
  color: #5371b6;
}
